.boton {
  display: none;
  background-color: #fafafa;
  right: 80px;
  position: fixed;
  background: url("https://sandbox-paybox.pagoplux.com/img/pagar.png?v1")
    no-repeat center center !important;
  height: 96px;
  width: 215px;
  border: none;
  cursor: pointer;
  background-size: contain !important;
}
